.wrapper {display: grid; grid-template-columns: repeat(80, 1rem)}
.checkbox input[type="checkbox"] {display: none;}
.checkbox {width: 1rem; height: 1rem;}
.primaryColor {height: 1rem; width: 1rem;}
body {user-select: none;}

